-Wl,-wrap,upc_global_exit -Wl,-wrap,upc_global_alloc -Wl,-wrap,upc_all_alloc -Wl,-wrap,upc_alloc -Wl,-wrap,upc_local_alloc -Wl,-wrap,upc_free -Wl,-wrap,upc_threadof -Wl,-wrap,upc_phaseof -Wl,-wrap,upc_resetphase -Wl,-wrap,upc_addrfield -Wl,-wrap,upc_affinitysize -Wl,-wrap,upc_global_lock_alloc -Wl,-wrap,upc_all_lock_alloc -Wl,-wrap,upc_lock_free -Wl,-wrap,upc_lock -Wl,-wrap,upc_lock_attempt -Wl,-wrap,upc_unlock -Wl,-wrap,upc_memcpy -Wl,-wrap,upc_memget -Wl,-wrap,upc_memput -Wl,-wrap,upc_memset WRAPPER_LIBRARY
