*.o
*.a
*.so
*.dylib
*.pyo
*.pyc
*.class
a.out
.all_configs
.last_config
.project
.cproject
.gitignore
.ptp-sync
.pydevproject
x86_64
bgl
bgp
bgq
craycnl
apple
mic_linux
arm_android
cscope.*
tags
TAGS
.configure_env
.active_stub
.active_stubs

# Ignore build files
tools/src/android/dexInjector/*.jar
tools/src/android/dexInjector/edu

*.ppk
profile.*
*.edf
*.trc
*.slog2
