*.o
*.a
*.so
*.dylib
*.pyo
*.pyc
*.class
a.out
.all_configs
.last_config
.project
.cproject
.gitignore
.ptp-sync
.ptp-sync-folder
.pydevproject
x86_64
bgl
bgp
bgq
craycnl
apple
mic_linux
arm_android
cscope.*
tags
TAGS
.configure_env
.active_stub
.active_stubs
.nfs*
# Ignore build files
tools/src/android/dexInjector/*.jar
tools/src/android/dexInjector/edu

*.ppk
profile.*
*.edf
*.trc
*.slog2

# TAU build files
.clean
.settings
Makefile
etc/dbschema.h2
etc/dbschema.h2.txt
etc/dbschema.sqlite.txt
etc/perfexplorer.skel
etc/taudb.sql
etc/taudb.sqlite.sql
examples/Makefile
examples/iowrappers/posixio/out.dat
include/Makefile
include/TAU.h
include/tau_config.h
include/tauarch.h
include/tauroot.h
libunwind-*
libdwarf-*
src/TraceInput/Makefile
src/wrappers/Makefile
tools/src/TauIL/Makefile.inc
tools/src/perfexplorer/configure
utils/FixMakefile.info
utils/FixMakefile.sed
utils/include/Makefile
utils/opari/opari
utils/pprof
utils/sedexamples.out
utils/tau_convert
utils/tau_cupti_avail/tau_cupti_avail
utils/tau_header_list
utils/tau_instrumentor
utils/tau_merge
utils/tau_reduce
utils/tau_selectfile
utils/tau_wrap
utils/trace2profile/trace2profile
utils/tau2otf2
utils/tau_trace2json
core

# examples
examples/mm/matmult
include/omp*
*.dSYM

# Python, Jupyter stuff
.ipynb_checkpoints
__pycache__

