*.o
*.a
*.so
*.dylib
*.pyo
*.pyc
a.out
.all_configs
.last_config
.project
.cproject
.gitignore
.ptp-sync
.pydevproject
x86_64
bgl
bgp
bgq
craycnl
apple
mic_linux
arm_android
cscope.*
tags
TAGS
.configure_env
.active_stub
.active_stubs
