[submodule "apex"]
	path = apex
	url = https://github.com/UO-OACISS/apex.git
	branch = master
[submodule "perfstubs"]
	path = perfstubs
	url = https://github.com/UO-OACISS/perfstubs.git
	branch = master
[submodule "zerosum"]
	path = zerosum
	url = https://github.com/UO-OACISS/zerosum.git
	branch = main
